pip==21.3.1
wheel
pycparser
setuptools
streamlit
opencv-python
nltk
easyocr
traceback2
flashtext
spacy
torch
scikit-learn==1.0.2
pke-tool
tensorflow
keras
Keras-Applications
Keras-Preprocessing
typing_extensions
tokenizers
more-itertools
os_sys
